@font-face {
    font-family: 'game_font';
    src: url("../fonts/Game.ttf");
}

@font-face {
    font-family: 'kid_game';
    src: url("../fonts/Kid_Games.ttf");
}

@font-face {
    font-family: 'blackout';
    src: url("../fonts/Blackout.otf");
}

@font-face {
    font-family: 'danila';
    src: url("../fonts/Danila.ttf");
}

.font_danila {
    font-family: "danila";
}

.font_blackout {
    font-family: "blackout";
}

.font_game {
    font-family: 'game_font';
}


.font_kid_game {
    font-family: 'game_font';
}

.palabra_elegida {
    font-size: 100px;
    text-align: center;
    
}

.game_numbers {
    font-size: 30px;
    width: 700px;
}

/* #win {
    background-color: blue;
} */